<!DOCTYPE html>
<html lang="en">

<% const title = "Serie Details" %>

<head>
    <%- include("../partials/head.ejs",{title}) %>
</head>

<body>
    <%- include("../components/page-breadcrumb",{breadcrumbs:[{name:"Home",url:"/"},{name:"Series",url:"/series"}]}) %>

    <div class="container mt-5">

        <%- include("../components/page-title", {title: serie.title }) %>

        <div class="row">
            <div style="height: 500px;">
                <img style="height: 500px;" src="<%= serie.cover_art %>" alt="">
            </div>

            

            <div class="col-2">
                <%- include("../components/page-subtitle", {title: "Actions"}) %>
                <%- include("../components/buttonLink", {data: {label: "Edit", classes:"btn-primary", link: `/series/${serie.id}/edit`}}) %>
                <%- include("../components/buttonForm", {title: "Delete", classes:"btn-danger", link: `/series/${serie.id}`, method:"DELETE"}) %>
            </div>

        </div>



    </div>
</body>

</html>